@import 'reset.scss';
@import 'menu.scss';

body{
margin: auto;
overflow: hidden;
width: 100vw;
  background-image: url('../images/about-us-image.jpg');
background-attachment: fixed;
background-position: center;
background-size: cover;


}
/*VARIABLES*/
$BodyGrey:#2C3E50;
$BodyOrange:#D35400;
$StrongFont: 'Russo One', sans-serif;
$bodyFont:'Sen', sans-serif;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
}

.fluid-container{
    padding: 0;
    margin: 0;
  .row{
    padding: 0;
    margin: 0;
  }
}


.inner-content-wrapper{
  width: 90%;
  margin: 0 auto;
}

.verticle-align{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.no-pad{
  padding: 0;
}

header{
  overflow: hidden;
  background-color: $BodyGrey;
  .fluid-container{
    .row{
      .inner-content-wrapper{
        display: flex;
        height: 100px;
        .logo-container{
          img{
            width: 150px;
          }
        }
        .navigation-container{
          display: flex;

          flex-direction: column;
          justify-content: space-around;
          padding: 0;
          margin: 0;
          .b-container{
            padding: 0;
            width: 100%;
            text-align: right;
            .b-menu{
            }
          }
          nav{
            height: 40%;
            display: none;
            ul{
              z-index: 2;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              li{
                text-align: center;
                a{
                  margin-left: 25px;
                  color: white;
                  z-index: 1;
                  font-family: $StrongFont;
                  font-size: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.hero-container{
  background-image: url('../images/banner-background.jpg');
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  .inner-content-wrapper{
    height: 100%;

    .hero-banner-text{

      h1{
        font-family: $StrongFont;
        font-size: 8vw;
        color: white;
      }
    }
    .button-wrapper{
      button{
        font-family: $StrongFont;
        border-style: none;
        color: white;
        height: 50px;
        width: 300px;
        background-color: $BodyOrange;

      }
    }
  }
}

.short-description-container{
  padding: 0;
  background-color: rgba(44, 62, 80,1.0);
    .fluid-container{
      padding: 0;
      margin: 0;
      .row{
        .short-description-title{
          display: flex;
          padding: 0;
          flex-direction: column;
          justify-content: space-around;
          padding: 0;
          h2{
            font-family: $StrongFont;
            font-size: 40px;
            padding: 0;
            width: 100%;
            color: white;
            text-align: center;
            margin-bottom: 50px;
          }
        }
        .short-description-text{
          p{
            text-align: center;
            color: white;
            font-family: $bodyFont;
            font-size: 35px;
            width: 100%;
            margin: auto;
        }
      }
    }
  }
}

.services-wrapper{
  padding: 0;
  margin: 0;
  max-width: 100% !important;
  overflow: hidden !important;
  background-color: rgba(211, 84, 0,0.4);
  .services-title{

    h2{
      font-family: $StrongFont;
      font-size: 50px;
      color: white;
    }
  }
  .services{
    .container-fluid{
      .row{
        justify-content: center;
        .service{
          height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          h3{
            font-family: $StrongFont;
            color: white;
            font-size: 7vw;
            text-align: center;
          }
        }
        #service-1{
          background-image: url('../images/flooring.jpg');
        }
        #service-2{
          background-image: url('../images/kitchen.jpg');
        }
        #service-3{
          background-image: url('../images/loft.jpg');
        }
        #service-4{
          background-image: url('../images/office.jpg');
        }
      }
    }
  }
}

.about-us-section{
  max-width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  .about-us-inner{
      .fluid-container{
        background-image: url("../images/about-us-image.jpg");
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
        margin: auto;
        .row{
          margin: auto;
          .about-us-content{
            padding: 100px 50px;
            background-color: rgba(211, 84, 0,0.8);
            box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
            .title-container{
              h2{
                font-family: $StrongFont;
                font-size: 40px;
                color: white;
              }
            }
            .about-us-text{
              p{
                font-family: $bodyFont;
                font-size: 20px;
                color: white;
            }
          }
        }
      }
    }
  }
}

.registered-section{
  background-color: white;
  .registered-inner{
    .fluid-container{
      .row{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
        h2{
          width: 100%;
          text-align: center;
          font-family: $StrongFont;
          font-size: 40px;
          color: black;

        }
        img{
          height: 100px;
          margin: 20px 100px;
          text-align: center;
        }
      }
    }
  }
}

.contact-us-section{
  background-color: $BodyGrey;
  h2{
    width: 100%;
    text-align: center;
    font-family: $StrongFont;
    font-size: 40px;
    color: white;
  }
  .fluid-container{
    width: 90%;
    margin: auto;
    .row{
      .form{
        .contact-form{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          input{
            height: 50px;
            width: 100%;
            margin-bottom: 30px;
            outline-style: none;
            border-style: none;
            font-family: $StrongFont;
            border-radius: 3px;
            padding: 10px;

          }
          textarea{
            height: 300px;
            width: 100%;
            line-height: normal;;
            margin-bottom: 30px;
            font-family: $bodyFont;
            border-style: none;
            border-radius: 3px;
            padding: 10px;


          }
          button{
            width: 50%;
            height: 50px;
            font-family: $StrongFont;
            border-style: none;
            border-radius: 3px;
            background-color: $BodyOrange;
            color: white;
          }
        }
      }
      .profile{
        margin-top: 75px;
        .profile-image{
          height: 200px;
          width: 200px;
          background-color: white;
          margin: auto;
          border-radius: 100%;
        }
        .contact-items{
          padding: 25px 0;
          display: flex;
          flex-direction: column;
          justify-content:space-around;
          width: 100%;
          margin: auto;


          .profile-name{
            text-align:center;
            font-family: $StrongFont;
            color: white;
            font-size: 25px;
            padding: 10px 0;
          }
          .profile-email{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            padding: 10px 0;
            svg{
              height: 40px;
            }
            .email-logo{
              height: 50px;
              overflow: hidden;
              color: $BodyOrange;
            }
            p{
              height: 40px;
              font-size: 20px;
              line-height: 40px;
              color: white;
              font-family: $StrongFont;
            }
          }
          .profile-number{
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            .number-logo{
              margin: auto;
              svg{
                height: 40px;
                color: $BodyOrange;
              }
              height: 50px;
              width: 50px;
              overflow: hidden;
            }
            p{
              height: 40px;
              font-size: 30px;
              line-height: 40px;
              color: white;
              font-family: $StrongFont;
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){

  .b-container{
    display: none;
  }

  .inner-content-wrapper{
    width:  90%;
    margin: 0 auto;
  }

  /* Header section*/
  header{
    overflow: hidden;
    .fluid-container{
      .row{
        .inner-content-wrapper{
          display: flex;
          height: 100px;
          .logo-container{
            img{
              width: 150px;

            }
          }
          .navigation-container{
            position: relative;
            height: auto;
            nav{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              ul{
                display: flex;
                flex-direction: row;
                padding: 0;
                margin: 0;
                justify-content: flex-end;
                li{
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  a{
                    margin-left: 25px;
                    color: $BodyGrey;
                    font-family: $StrongFont;
                    font-size: 1.2vw;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /*HERO SECTION*/

  .hero-container{
    background-image: url('../images/banner-background.jpg');
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    .inner-content-wrapper{
      height: 100%;

      .hero-banner-text{

        h1{
          font-family: $StrongFont;
          font-size: 4vw;
          color: white;
        }
      }
      .button-wrapper{
        button{
          font-family: $StrongFont;
          border-style: none;
          color: white;
          height: 50px;
          width: 300px;
          background-color: $BodyOrange;

        }
      }
    }
  }

  /*50-50 SECTION*/
  .short-description-container{
    overflow: hidden;
    padding: 0;
    .fluid-container{
      padding: 0;
      margin: 0;
      .row{
        display: flex;
        justify-content: space-around;
        .short-description-title{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          h2{
            font-family: $StrongFont;
            font-size: 60px;
            margin: auto;
            margin-bottom: 0 !important;
          }
        }
        .short-description-text{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          p{
            font-family: $bodyFont;
            font-size: 30px;
            margin: auto;
          }
        }
      }
    }
  }

  /*SERVICES SECTION*/
  .services-wrapper{
    padding: 0;
    margin: 0;
    max-width: 100% !important;
    overflow: hidden !important;
    .services-title{
      h2{
        font-family: $StrongFont;
        font-size: 50px;
      }
    }
    .services{
      .container-fluid{
        .row{
          justify-content: center;
          .service{
            height: 500px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h3{
              font-family: $StrongFont;
              color: white;
              font-size: 3vw;
              text-align: center;
            }
          }
          #service-1{
            background-image: url('../images/flooring.jpg');
          }
          #service-2{
            background-image: url('../images/kitchen.jpg');
          }
          #service-3{
            background-image: url('../images/loft.jpg');
          }
          #service-4{
            background-image: url('../images/office.jpg');
          }
        }
      }
    }
  }

  /*About us section*/
  .about-us-section{
    max-width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
    .about-us-inner{
        .fluid-container{
          background-image: url("../images/about-us-image.jpg");
          background-repeat: no-repeat;
          width: 100%;
          background-position: center;
          margin: auto;
          .row{
            margin: auto;
            .about-us-content{
              padding: 200px 100px;
              background-color: rgba(211, 84, 0,0.8);
              box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
              .title-container{
                h2{
                  font-family: $StrongFont;
                  font-size: 40px;
                  color: white;
                }
              }
              .about-us-text{
                p{
                  font-family: $bodyFont;
                  font-size: 20px;
                  color: white;
              }
            }
          }
        }
      }
    }
  }

  .registered-section{
      background-color: rgba(236, 240, 241,0.6);
    .registered-inner{
      .fluid-container{
        .row{
          width: 60%;
          margin: auto;
          display: flex;
          justify-content: space-between;
          h2{
            width: 100%;
            text-align: center;
            font-family: $StrongFont;
            font-size: 40px;
          }
          img{
            margin:0 10vw;
            height: 7vw;
            margin: 0 10px;
          }
        }
      }
    }
  }

  /*contact section*/

  .contact-us-section{
    background-color: $BodyGrey;
    h2{
      width: 100%;
      text-align: center;
      font-family: $StrongFont;
      font-size: 40px;
      color: white;
    }
    .fluid-container{
      width: 90%;
      margin: auto;
      .row{
        .form{
          .contact-form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            input{
              height: 50px;
              width: 100%;
              margin-bottom: 30px;
              outline-style: none;
              border-style: none;
              font-family: $StrongFont;
              border-radius: 3px;
              padding: 10px;

            }
            textarea{
              height: 300px;
              width: 100%;
              line-height: normal;;
              margin-bottom: 30px;
              font-family: $bodyFont;
              border-style: none;
              border-radius: 3px;
              padding: 10px;


            }
            button{
              width: 50%;
              height: 50px;
              font-family: $StrongFont;
              border-style: none;
              border-radius: 3px;
              background-color: $BodyOrange;
              color: white;
            }
          }
        }
        .profile{
          margin-top: 0;
          .profile-image{
            height: 200px;
            width: 200px;
            background-color: white;
            margin: auto;
            border-radius: 100%;
          }
          .contact-items{
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            width: 100%;
            margin: auto;


            .profile-name{
              text-align:center;
              font-family: $StrongFont;
              color: white;
              font-size: 25px;
            }
            .profile-email{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              text-align: center;
              svg{
                height: 40px;
              }
              .email-logo{
                height: 50px;
                overflow: hidden;
                color: $BodyOrange;
              }
              p{
                height: 40px;
                font-size: 20px;
                line-height: 40px;
                color: white;
                font-family: $StrongFont;
              }
            }
            .profile-number{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              text-align: center;
              .number-logo{
                margin: auto;
                svg{
                  height: 40px;
                  color: $BodyOrange;
                }
                height: 50px;
                width: 50px;
                overflow: hidden;
              }
              p{
                height: 40px;
                font-size: 30px;
                line-height: 40px;
                color: white;
                font-family: $StrongFont;
              }
            }
          }
        }
      }
    }
  }



}
