.gallery-container {
  min-height: 100vh; }
  .gallery-container .gallery-heading h1 {
    color: white;
    font-family: "Russo One", sans-serif;
    font-size: 9vw;
    text-align: center; }
  .gallery-container .container .row {
    margin: 15px; }

@media (min-width: 992px) {
  .gallery-container {
    min-height: 100vh; }
    .gallery-container .gallery-heading h1 {
      color: white;
      font-family: "Russo One", sans-serif;
      font-size: 5vw;
      text-align: center; }
    .gallery-container .container .row {
      margin: 15px; } }
